<div class="container mb-3">
  <div class="mb-3">
    <app-redirect-button
      redirectRoute="/dashboard/customers"
    ></app-redirect-button>
  </div>

  <!-- STEPPER -->
  <ng-container *ngIf="!errorMsg">
    <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
    {{ !isLinear ? "Enable linear mode" : "Disable linear mode" }}
  </button> -->

    <!-- CUSTOMER DATA -->
    <mat-horizontal-stepper
      [linear]="isLinear && loggedInUserRole === 'admin' && !customer"
      #stepper
      *ngIf="!confirmCreation"
      [hidden]="getReqStatus === 3"
      (selectionChange)="stepChange($event)"
    >
      <ng-template matStepperIcon="edit">
        <i class="fas fa-pen" *ngIf="loggedInUserRole === 'admin'"></i>
        <i class="fas fa-circle" *ngIf="loggedInUserRole !== 'admin'"></i>
      </ng-template>

      <mat-step [stepControl]="customerDataForm" label="Datos generales">
        <app-form-new-customer-data
          [savedCustomer]="customer"
          (formChange)="onCustomerDataFormChange($event)"
          [disabled]="
            (customerID && getReqStatus <= 1) || loggedInUserRole !== 'admin'
          "
        ></app-form-new-customer-data>
        <div class="text-right mt-4">
          <button
            mat-button
            matStepperNext
            color="primary"
            (click)="onCustomerDataChange()"
            [disabled]="!customerDataForm?.valid"
          >
            Siguiente
          </button>
        </div>
      </mat-step>

      <mat-step label="Cuentas asociadas">
        <app-form-new-customer-accounts
          [savedAccounts]="customer?.accounts"
          (accountsChange)="onAccountsChange($event)"
          [disableActions]="loggedInUserRole !== 'admin'"
        ></app-form-new-customer-accounts>
        <div class="d-flex justify-content-between mt-4">
          <button mat-button matStepperPrevious>Anterior</button>
          <button mat-button matStepperNext color="primary">Siguiente</button>
        </div>
      </mat-step>

      <mat-step
        [label]="loggedInUserRole === 'admin' ? 'Confirmación' : 'Resumen'"
      >
        <app-customer-review [customer]="customer"></app-customer-review>
        <div class="d-flex justify-content-between mt-4">
          <button mat-button matStepperPrevious>Anterior</button>
          <button
            mat-button
            matStepperNext
            *ngIf="loggedInUserRole === 'admin'"
            color="primary"
            (click)="saveChanges()"
          >
            Guardar
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

    <!-- ERROR TO GET CUSTMER DATA -->
    <div *ngIf="getReqStatus === 3" class="layout-container">
      <div class="d-flex flex-column align-items-center">
        <i class="far fa-times-circle text-danger"></i>
        <span class="mt-4">
          Se generó un error al consultar la información del cliente.
        </span>
        <button class="mt-2" mat-button color="primary" (click)="getCustomer()">
          Reintentar
        </button>
      </div>
    </div>

    <!-- CREATE OR UPDATE CUSTOMER STATES -->
    <div *ngIf="confirmCreation" class="layout-container">
      <div class="d-flex flex-column align-items-center">
        <ng-container *ngIf="mgmtReqStatus === 1">
          <mat-spinner></mat-spinner>
          <span class="mt-4">Guardando datos...</span>
        </ng-container>

        <ng-container *ngIf="mgmtReqStatus === 2">
          <i class="far fa-check-circle text-success"></i>
          <span class="mt-4" *ngIf="!customerID">
            El cliente se agregó correctamente
          </span>
          <span class="mt-4" *ngIf="!!customerID">
            Los datos del cliente se actualizaron correctamente
          </span>
          <button
            class="mt-2"
            mat-flat-button
            color="primary"
            routerLink="/dashboard/customers"
          >
            Ver todos los clientes
          </button>
        </ng-container>

        <ng-container *ngIf="mgmtReqStatus === 3">
          <i class="far fa-times-circle text-danger"></i>
          <span class="mt-4">Se generó un error al agregar el cliente.</span>
          <button
            class="mt-2"
            mat-button
            color="primary"
            (click)="saveChanges()"
          >
            Reintentar
          </button>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <!-- GENERAL ERROR MESSAGE -->
  <mat-card *ngIf="getReqStatus === 3 && !!errorMsg" class="mt-5">
    <p class="text-danger text-center p-4">
      {{ errorMsg }}
    </p>
  </mat-card>
</div>
