<div class="container mb-3">
  <app-redirect-button redirectRoute="/dashboard/users"></app-redirect-button>
</div>

<div class="container">
  <div class="row mt-4 mt-sm-0">
    <!-- USER DETAILS -->
    <ng-container *ngIf="!errorMsg">
      <div class="col-12 col-lg-3 mb-4 mb-lg-0">
        <div class="bg-white p-3 user-info-panel">
          <!-- loader -->
          <ng-container *ngIf="userReqStatus < 2">
            <div class="user-info-container">
              <i class="user-avatar-container bg-default">
                <i class="fas fa-user user-avatar white"></i>
              </i>

              <div class="user-info">
                <div class="bar-loader"></div>
                <div class="bar-loader title"></div>
              </div>
            </div>
            <div class="bar-loader mt-4"></div>
            <div class="bar-loader mt-3"></div>
            <div class="bar-loader form-button mt-4"></div>
          </ng-container>

          <!-- user data -->
          <ng-container *ngIf="userReqStatus === 2">
            <div class="user-info-container">
              <i class="user-avatar-container bg-muted">
                <i class="fas fa-user user-avatar white"></i>
              </i>

              <div class="user-info" *ngIf="user">
                <span class="user-name blue">
                  {{
                    !!user.name ? user.name + " " + user.lastname : user.email
                  }}
                </span>
                <span class="user-email text-muted mt-1">
                  {{ user.email }}
                </span>
              </div>
            </div>
            <ul class="mt-4">
              <li class="text-muted mt-3">
                <i class="fas fa-list mr-2"></i>
                <span>
                  {{
                    user?.modulesWithPermission?.length
                      ? user.modulesWithPermission.length
                      : 0
                  }}
                  {{
                    user?.modulesWithPermission?.length === 1
                      ? "módulo"
                      : "módulos"
                  }}
                </span>
              </li>
              <li class="text-muted mt-3">
                <i class="fas fa-user-cog mr-2"></i>
                <span *ngIf="user.department != 'external'"
                  >Colaborador interno</span
                >
                <span *ngIf="user.department == 'external'"
                  >Usuario externo</span
                >
              </li>
              <li
                class="text-muted mt-3 text-primary"
                *ngIf="user['clientsRole'] != ''"
              >
                <i class="fas fa-certificate mr-2"></i>
                <span>Admin Global</span>
                <br />
                <small class="mt-1 text-success"
                  >Este usuario tiene acceso a
                  <u><b>todos los clientes</b></u></small
                >
              </li>
            </ul>
            <button
              mat-stroked-button
              *ngIf="loggedInUserRole === 'admin' && loggedInUser.id !== userID"
              class="mt-3"
              color="warn"
              [disabled]="deleteReqStatus === 1 || updateReqStatus === 1"
              (click)="confirmUserDeletetion()"
            >
              <div class="d-flex align-items-center">
                <mat-spinner
                  diameter="18"
                  class="mr-2"
                  *ngIf="deleteReqStatus === 1"
                ></mat-spinner>
                <span>Eliminar usuario</span>
              </div>
            </button>
          </ng-container>

          <ng-container *ngIf="userReqStatus === 3">
            <p class="text-danger my-0 text-center pt-4 pb-4 pr-3 pl-3">
              Error al consultar la información del usuario
            </p>
          </ng-container>
        </div>
      </div>
      <!-- Modules list -->
      <div class="col-12 col-lg-9 mb-4">
        <app-modules-list
          [user]="user"
          [status]="userReqStatus"
          [allowActions]="
            loggedInUserRole === 'admin' && loggedInUser.id !== userID
          "
          [disableActions]="deleteReqStatus === 1 || updateReqStatus === 1"
          (refreshUser)="getUser()"
        ></app-modules-list>

        <ng-container
          *ngIf="loggedInUserRole === 'admin' && loggedInUser.id !== userID"
        >
          <div
            class="mt-4 text-right"
            *ngIf="userReqStatus === 2 && modulesToAdd?.length > 0"
          >
            <button
              *ngIf="!showNewModuleForm"
              mat-stroked-button
              color="primary"
              (click)="showNewModuleForm = true"
            >
              Dar acceso a un nuevo módulo
            </button>

            <div *ngIf="showNewModuleForm" class="mb-3">
              <app-module-form
                [allowedModules]="modulesToAdd"
                [isLoading]="updateReqStatus === 1"
                (formModuleChange)="addNewModule($event)"
                (closeFormModule)="showNewModuleForm = false"
              ></app-module-form>
            </div>
          </div>
        </ng-container>
      </div>
      <!-- Tools List -->
      <div class="col-12 col-lg-9 mt-3 offset-lg-3">
        <app-tools-list
          [user]="user"
          [status]="userReqStatus"
          (emittUpdateRequest)="emittUpdateRequest($event)"
          (toolToUpdate)="updateTool($event)"
          [allowActionsTools]="
            loggedInUserRole === 'admin' && loggedInUser.id !== userID
          "
          [disableActions]="deleteReqStatus === 1 || updateReqStatus === 1"
          (refreshUser)="getUser()"
        ></app-tools-list>
        <ng-container
          *ngIf="loggedInUserRole === 'admin' && loggedInUser.id !== userID"
        >
          <div
            class="mt-4 text-right"
            *ngIf="
              userReqStatus === 2 && toolsToAdd?.length > 0 && showNewToolForm
            "
          >
            <button
              *ngIf="!toolModuleVisible"
              mat-stroked-button
              color="primary"
              (click)="toolModuleVisible = true"
            >
              Dar acceso a una nueva herramienta
            </button>
          </div>
        </ng-container>
      </div>
      <!-- Tools form -->
      <div class="col-12 col-lg-9 mb-4 offset-lg-3">
        <app-tools-form
          *ngIf="toolModuleVisible"
          [clientsRole]="loggedInUser.clientsRole"
          [user]="user"
          (formModuleChange)="addNewModule($event)"
          [toolToUpdate]="toolUpdating"
          (emittUpdateRequest)="emittUpdateRequest($event)"
          [status]="userReqStatus"
          [allowActionsTools]="
            loggedInUserRole === 'admin' && loggedInUser.id !== userID
          "
          [disableActions]="deleteReqStatus === 1 || updateReqStatus === 1"
          (refreshUser)="getUser()"
          (closeFormTool)="toolModuleVisible = false"
        ></app-tools-form>
      </div>
      <!-- Customers list -->
      <div class="col-12 col-lg-9 mb-4 offset-lg-3">
        <app-customers-list
          [user]="user"
          [status]="userReqStatus"
          [allowActions]="
            loggedInUserRole === 'admin' &&
            loggedInUser.id !== userID &&
            loggedInUser.clientsRole === 'admin'
          "
          [disableActions]="deleteReqStatus === 1 || updateReqStatus === 1"
          (emittUpdateRequest)="emittUpdateRequest($event)"
        ></app-customers-list>
      </div>
      <!-- Customers form -->
      <div class="col-12 col-lg-9 mb-4 offset-lg-3">
        <app-customers-form
          *ngIf="clientsModuleVisible && loggedInUser.clientsRole === 'admin'"
          [user]="user"
          (formModuleChange)="addNewCustomers($event)"
          (emittUpdateRequest)="emittUpdateRequest($event)"
          [status]="userReqStatus"
          [allowActionsTools]="
            loggedInUserRole === 'admin' && loggedInUser.id !== userID
          "
          [disableActions]="deleteReqStatus === 1 || updateReqStatus === 1"
          (refreshUser)="getUser()"
        ></app-customers-form>
      </div>
    </ng-container>

    <!-- ERROR MESSAGE -->
    <ng-container *ngIf="!!errorMsg">
      <div class="col-12">
        <mat-card class="mt-5">
          <p class="text-danger text-center p-4">
            <ng-container>
              {{ errorMsg }}
            </ng-container>
          </p>
        </mat-card>
      </div>
    </ng-container>
  </div>
</div>
