ul {
  padding-left: 0;
}

.item-list-container {
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: 0.8rem calc(100% - 1.2rem);
  justify-content: flex-start;
  padding-bottom: 0.3rem;
  width: 100%;

  .item-dot {
    background-color: var(--silver);
    border-radius: 50%;
    height: 0.8rem;
    width: 0.8rem;
  }

  .item-title {
    font-size: 1rem;
  }

  &.locked {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
