<div class="container">
  <img class="center" [src]="imagePath">
  <h1 id="userName">
    Nombre(s) Apellidos
  </h1>   
  <h4 class="opacity"
    id="userEmail">
    Correo
  </h4>
  
  <div class="row">
    <div class="col-4">
      <h3>
        Fecha de nacimiento
      </h3>
      <h4 
          id="userBirthday">
          {{ birthday | date:'longDate' }} 
      </h4>
    </div>

    <div class="col-4">
      <h3>
        Número de celular
      </h3>
      <h4 
          id="userPhone">
          Phone number
      </h4>      
    </div>
    <div class="col-4">
      <h3>
        Vencimiento de subscripcion
      </h3>
      <h4 
          id="userSubscription">
          {{ subscription | date:'fullDate' }}
      </h4>      
    </div>
  </div>
</div>