.change-container {
  .change {
    position: relative;
    i {
      font-size: 1.4rem;

      &.sm {
        font-size: 1rem;
      }
    }
    .line {
      background-color: var(--iron);
      height: 100%;
      margin-top: 18px;
      position: absolute;
      width: 2px;
    }
  }

  &:last-of-type {
    .change .line {
      height: calc(100% - 20px);
    }
  }

  &.loader {
    i {
      color: var(--albaster) !important;
    }
    .line {
      background-color: var(--albaster) !important;
    }
  }
}
