.header-container {
  column-gap: 1rem;
  display: grid;
  grid-template-columns: calc(100% - 3rem) 2rem;
  width: 100%;

  .title-container {
    .title {
      align-items: center;
      display: flex;
      gap: 0.5rem;
      justify-content: flex-start;
      position: absolute;
      width: 80%;
    }
  }

  .badge-container {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .badge.success {
      font-size: 0.7rem;
    }
  }
}
