<!-- ANALYTICS4 -->
<div class="mt-3">
  <div class="section-container">
    <div class="title-container d-flex align-items-end">
      <span
        class="iconify mr-2"
        data-width="24"
        data-icon="logos:google-analytics"
      >
      </span>
      <h3 class="mb-0">Google Analytics 4</h3>
    </div>

    <div class="row mb-4" *ngIf="accounts.ga4.data.length > 0">
      <div class="col-12">
        <app-generic-table
          id="ga4-accounts-table"
          [displayedColumns]="accountsGA4TableColumns"
          [tableData]="accounts.ga4"
          [tableDataChange]="accounts.ga4.data"
          emptyDataMsg="Error al consultar las cuentas registradas"
          (selectedRowChange)="selectAccount('ga4', $event)"
        >
        </app-generic-table>
      </div>
    </div>

    <ng-container *ngIf="!disableActions">
      <div
        id="ga4-accounts-form-container"
        class="mt-3"
        [hidden]="!showFormGa4"
      >
        <h4>Datos de la cuenta</h4>
        <form
          [formGroup]="formGa4"
          (ngSubmit)="handleAccount('ga4', formDirectiveGA4)"
          #formDirectiveGA4="ngForm"
        >
          <div class="row">
            <!-- Credential Email -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Email de la credencial</mat-label>
                <mat-select formControlName="credentialEmail" required>
                  <mat-option *ngFor="let ce of CREDENTIALS" [value]="ce">
                    {{ ce.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Account ID -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>ID de la cuenta</mat-label>
                <input
                  matInput
                  formControlName="accountID"
                  type="text"
                  pattern="^[0-9]*$"
                  autocomplete="off"
                  required
                />
                <mat-error *ngIf="formGa4.get('accountID').hasError('pattern')">
                  Usa solo caracteres numéricos
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Account Name -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Nombre de la cuenta</mat-label>
                <input
                  matInput
                  formControlName="name"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <!-- property ID -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>ID de la Propiedad</mat-label>
                <input
                  matInput
                  formControlName="propertyID"
                  type="search"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <!-- Timezone -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Zona horaria</mat-label>
                <mat-select formControlName="timezone" required>
                  <mat-option *ngFor="let tz of TIMEZONES" [value]="tz">
                    {{ tz.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Currency -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Moneda</mat-label>
                <mat-select formControlName="currency" required>
                  <mat-option *ngFor="let cu of CURRENCIES" [value]="cu">
                    {{ cu.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Manager -->
            <div class="col-12 col-lg-4 mb-3">
              <app-generic-select
                label="Manager"
                [optionList]="managers"
                [selectedOption]="selectedManagers.ga4"
                (selectedOptionChange)="managerChange('ga4', $event)"
                [searchFilter]="true"
                [status]="managersReqStatus"
                [required]="true"
                errorMsg="Error al consultar usuarios"
                emptyMsg="No se encontraron usuarios"
              >
              </app-generic-select>
            </div>

            <!-- Vertical -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Vertical</mat-label>
                <input
                  matInput
                  formControlName="vertical"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>

            <!-- Business unit -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Unidad de negocio</mat-label>
                <input
                  matInput
                  formControlName="businessUnit"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>

            <!-- Objective -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Objetivo</mat-label>
                <input
                  matInput
                  formControlName="objective"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>

            <div class="col-12">
              <div
                class="button-container d-flex justify-content-end align-items-end"
              >
                <button
                  mat-flat-button
                  type="button"
                  class="mr-3"
                  (click)="cancelAccountAction('ga4', formDirectiveGa)"
                >
                  Cancelar
                </button>
                <button mat-flat-button color="primary" type="submit">
                  {{ !!editableAccountGA4 ? "Guardar cambios" : "Agregar" }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <button
            id="add-ga4-account-button"
            mat-flat-button
            color="primary"
            type="button"
            (click)="showFormGa4 = true"
            [hidden]="showFormGa4"
          >
            <i class="fas fa-plus mr-2"></i>
            Agregar cuenta
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- ADWORDS -->
<div class="mt-3">
  <div class="section-container">
    <div class="title-container d-flex align-items-end">
      <span class="iconify mr-2" data-width="24" data-icon="logos:google-ads">
      </span>
      <h3 class="mb-0">Adwords</h3>
    </div>

    <div class="row mb-4" *ngIf="accounts.ad.data.length > 0">
      <div class="col-12">
        <app-generic-table
          id="ad-accounts-table"
          [displayedColumns]="accountsAdTableColumns"
          [tableData]="accounts.ad"
          [tableDataChange]="accounts.ad.data"
          emptyDataMsg="Error al consultar las cuentas registradas"
          (selectedRowChange)="selectAccount('ad', $event)"
        >
        </app-generic-table>
      </div>
    </div>

    <ng-container *ngIf="!disableActions">
      <div id="ad-accounts-form-container" class="mt-3" [hidden]="!showFormAd">
        <h4>Datos de la cuenta</h4>
        <form
          [formGroup]="formAd"
          (ngSubmit)="handleAccount('ad', formDirectiveAd)"
          #formDirectiveAd="ngForm"
        >
          <div class="row">
            <!-- Credential Email -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Email de la credencial</mat-label>
                <mat-select formControlName="credentialEmail" required>
                  <mat-option
                    *ngFor="let ce of CREDENTIAL_AD_FB_TT"
                    [value]="ce"
                  >
                    {{ ce.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Account ID -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>ID de la cuenta</mat-label>
                <input
                  matInput
                  formControlName="accountID"
                  type="text"
                  pattern="^[0-9]*$"
                  autocomplete="off"
                  required
                />
                <mat-error *ngIf="formAd.get('accountID').hasError('pattern')">
                  Usa solo caracteres numéricos
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Account Name -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Nombre de la cuenta</mat-label>
                <input
                  matInput
                  formControlName="name"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>

            <!-- Timezone -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Zona horaria</mat-label>
                <mat-select formControlName="timezone" required>
                  <mat-option *ngFor="let tz of TIMEZONES" [value]="tz">
                    {{ tz.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Currency -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Moneda</mat-label>
                <mat-select formControlName="currency" required>
                  <mat-option *ngFor="let cu of CURRENCIES" [value]="cu">
                    {{ cu.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Manager -->
            <div class="col-12 col-lg-4 mb-3">
              <app-generic-select
                label="Manager"
                [optionList]="managers"
                [selectedOption]="selectedManagers.ad"
                (selectedOptionChange)="managerChange('ad', $event)"
                [searchFilter]="true"
                [status]="managersReqStatus"
                [required]="true"
                errorMsg="Error al consultar usuarios"
                emptyMsg="No se encontraron usuarios"
              >
              </app-generic-select>
            </div>

            <!-- Vertical -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Vertical</mat-label>
                <input
                  matInput
                  formControlName="vertical"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>

            <!-- Business unit -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Unidad de negocio</mat-label>
                <input
                  matInput
                  formControlName="businessUnit"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>

            <!-- Objective -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Objetivo</mat-label>
                <input
                  matInput
                  formControlName="objective"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>

            <div class="col-12">
              <div
                class="button-container d-flex justify-content-end align-items-end"
              >
                <button
                  mat-flat-button
                  type="button"
                  class="mr-3"
                  (click)="cancelAccountAction('ad', formDirectiveAd)"
                >
                  Cancelar
                </button>
                <button mat-flat-button color="primary" type="submit">
                  {{ !!editableAccountAd ? "Guardar cambios" : "Agregar" }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <button
            id="add-ad-account-button"
            mat-flat-button
            color="primary"
            type="button"
            (click)="showFormAd = true"
            [hidden]="showFormAd"
          >
            <i class="fas fa-plus mr-2"></i>
            Agregar cuenta
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- ANALYTICS -->
<div class="mt-3">
  <div class="section-container">
    <div class="title-container d-flex align-items-end">
      <span
        class="iconify mr-2"
        data-width="24"
        data-icon="logos:google-analytics"
      >
      </span>
      <h3 class="mb-0">Analytics</h3>
    </div>

    <div class="row mb-4" *ngIf="accounts.ga.data.length > 0">
      <div class="col-12">
        <app-generic-table
          id="ga-accounts-table"
          [displayedColumns]="accountsGaTableColumns"
          [tableData]="accounts.ga"
          [tableDataChange]="accounts.ga.data"
          emptyDataMsg="Error al consultar las cuentas registradas"
          (selectedRowChange)="selectAccount('ga', $event)"
        >
        </app-generic-table>
      </div>
    </div>

    <ng-container *ngIf="!disableActions">
      <div id="ga-accounts-form-container" class="mt-3" [hidden]="!showFormGa">
        <h4>Datos de la cuenta</h4>
        <form
          [formGroup]="formGa"
          (ngSubmit)="handleAccount('ga', formDirectiveGa)"
          #formDirectiveGa="ngForm"
        >
          <div class="row">
            <!-- Credential Email -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Email de la credencial</mat-label>
                <mat-select formControlName="credentialEmail" required>
                  <mat-option *ngFor="let ce of CREDENTIALS" [value]="ce">
                    {{ ce.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Account ID -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>ID de la cuenta</mat-label>
                <input
                  matInput
                  formControlName="accountID"
                  type="text"
                  pattern="^[0-9]*$"
                  autocomplete="off"
                  required
                />
                <mat-error *ngIf="formGa.get('accountID').hasError('pattern')">
                  Usa solo caracteres numéricos
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Account Name -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Nombre de la cuenta</mat-label>
                <input
                  matInput
                  formControlName="name"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <!-- property ID -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>ID de la Propiedad</mat-label>
                <input
                  matInput
                  formControlName="propertyID"
                  type="search"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>

            <!-- view ID -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>ID de la Vista</mat-label>
                <input
                  matInput
                  formControlName="viewID"
                  type="number"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <!-- Timezone -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Zona horaria</mat-label>
                <mat-select formControlName="timezone" required>
                  <mat-option *ngFor="let tz of TIMEZONES" [value]="tz">
                    {{ tz.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Currency -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Moneda</mat-label>
                <mat-select formControlName="currency" required>
                  <mat-option *ngFor="let cu of CURRENCIES" [value]="cu">
                    {{ cu.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Manager -->
            <div class="col-12 col-lg-4 mb-3">
              <app-generic-select
                label="Manager"
                [optionList]="managers"
                [selectedOption]="selectedManagers.ga"
                (selectedOptionChange)="managerChange('ga', $event)"
                [searchFilter]="true"
                [status]="managersReqStatus"
                [required]="true"
                errorMsg="Error al consultar usuarios"
                emptyMsg="No se encontraron usuarios"
              >
              </app-generic-select>
            </div>

            <!-- Vertical -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Vertical</mat-label>
                <input
                  matInput
                  formControlName="vertical"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>

            <!-- Business unit -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Unidad de negocio</mat-label>
                <input
                  matInput
                  formControlName="businessUnit"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>

            <!-- Objective -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Objetivo</mat-label>
                <input
                  matInput
                  formControlName="objective"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>

            <div class="col-12">
              <div
                class="button-container d-flex justify-content-end align-items-end"
              >
                <button
                  mat-flat-button
                  type="button"
                  class="mr-3"
                  (click)="cancelAccountAction('ga', formDirectiveGa)"
                >
                  Cancelar
                </button>
                <button mat-flat-button color="primary" type="submit">
                  {{ !!editableAccountGa ? "Guardar cambios" : "Agregar" }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <button
            id="add-ga-account-button"
            mat-flat-button
            color="primary"
            type="button"
            (click)="showFormGa = true"
            [hidden]="showFormGa"
          >
            <i class="fas fa-plus mr-2"></i>
            Agregar cuenta
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- FACEBOOK -->
<div class="mt-3">
  <div class="section-container">
    <div class="title-container d-flex align-items-end">
      <span class="iconify mr-2" data-width="24" data-icon="logos:facebook">
      </span>
      <h3 class="mb-0">Facebook</h3>
    </div>

    <div class="row mb-4" *ngIf="accounts.fb.data.length > 0">
      <div class="col-12">
        <app-generic-table
          id="fb-accounts-table"
          [displayedColumns]="accountsFbTableColumns"
          [tableData]="accounts.fb"
          [tableDataChange]="accounts.fb.data"
          emptyDataMsg="Error al consultar las cuentas registradas"
          (selectedRowChange)="selectAccount('fb', $event)"
        >
        </app-generic-table>
      </div>
    </div>

    <ng-container *ngIf="!disableActions">
      <div id="fb-accounts-form-container" class="mt-3" [hidden]="!showFormFb">
        <h4>Datos de la cuenta</h4>
        <form
          [formGroup]="formFb"
          (ngSubmit)="handleAccount('fb', formDirectiveFb)"
          #formDirectiveFb="ngForm"
        >
          <div class="row">
            <!-- Credential Email -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Email de la credencial</mat-label>
                <mat-select formControlName="credentialEmail" required>
                  <mat-option
                    *ngFor="let ce of CREDENTIAL_AD_FB_TT"
                    [value]="ce"
                  >
                    {{ ce.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Account ID -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>ID de la cuenta</mat-label>
                <input
                  matInput
                  formControlName="accountID"
                  type="text"
                  pattern="^[0-9]*$"
                  autocomplete="off"
                  required
                />
                <mat-error *ngIf="formFb.get('accountID').hasError('pattern')">
                  Usa solo caracteres numéricos
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Account Name -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Nombre de la cuenta</mat-label>
                <input
                  matInput
                  formControlName="name"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <!-- Timezone -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Zona horaria</mat-label>
                <mat-select formControlName="timezone" required>
                  <mat-option *ngFor="let tz of TIMEZONES" [value]="tz">
                    {{ tz.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Currency -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Moneda</mat-label>
                <mat-select formControlName="currency" required>
                  <mat-option *ngFor="let cu of CURRENCIES" [value]="cu">
                    {{ cu.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Manager -->
            <div class="col-12 col-lg-4 mb-3">
              <app-generic-select
                label="Manager"
                [optionList]="managers"
                [selectedOption]="selectedManagers.fb"
                (selectedOptionChange)="managerChange('fb', $event)"
                [searchFilter]="true"
                [status]="managersReqStatus"
                [required]="true"
                errorMsg="Error al consultar usuarios"
                emptyMsg="No se encontraron usuarios"
              >
              </app-generic-select>
            </div>

            <!-- Vertical -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Vertical</mat-label>
                <input
                  matInput
                  formControlName="vertical"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>

            <!-- Business unit -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Unidad de negocio</mat-label>
                <input
                  matInput
                  formControlName="businessUnit"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>

            <!-- Objective -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Objetivo</mat-label>
                <input
                  matInput
                  formControlName="objective"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>

            <div class="col-12">
              <div
                class="button-container d-flex justify-content-end align-items-end"
              >
                <button
                  mat-flat-button
                  type="button"
                  class="mr-3"
                  (click)="cancelAccountAction('fb', formDirectiveFb)"
                >
                  Cancelar
                </button>
                <button mat-flat-button color="primary" type="submit">
                  {{ !!editableAccountFb ? "Guardar cambios" : "Agregar" }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <button
            id="add-fb-account-button"
            mat-flat-button
            color="primary"
            type="button"
            (click)="showFormFb = true"
            [hidden]="showFormFb"
          >
            <i class="fas fa-plus mr-2"></i>
            Agregar cuenta
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- BING -->
<div class="mt-3">
  <div class="section-container">
    <div class="title-container d-flex align-items-end">
      <span class="iconify mr-2" data-width="24" data-icon="logos:bing"> </span>
      <h3 class="mb-0">Bing</h3>
    </div>

    <div class="row mb-4" *ngIf="accounts.bg.data.length > 0">
      <div class="col-12">
        <app-generic-table
          id="bg-accounts-table"
          [displayedColumns]="accountsBgTableColumns"
          [tableData]="accounts.bg"
          [tableDataChange]="accounts.bg.data"
          emptyDataMsg="Error al consultar las cuentas registradas"
          (selectedRowChange)="selectAccount('bg', $event)"
        >
        </app-generic-table>
      </div>
    </div>

    <ng-container *ngIf="!disableActions">
      <div id="bg-accounts-form-container" class="mt-3" [hidden]="!showFormBg">
        <h4>Datos de la cuenta</h4>
        <form
          [formGroup]="formBg"
          (ngSubmit)="handleAccount('bg', formDirectiveBg)"
          #formDirectiveBg="ngForm"
        >
          <div class="row">
            <!-- Credential Email -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Email de la credencial</mat-label>
                <mat-select formControlName="credentialEmail" required>
                  <mat-option *ngFor="let ce of CREDENTIALS" [value]="ce">
                    {{ ce.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Account ID -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>ID de la cuenta</mat-label>
                <input
                  matInput
                  formControlName="accountID"
                  type="text"
                  pattern="^[0-9]*$"
                  autocomplete="off"
                  required
                />
                <mat-error *ngIf="formBg.get('accountID').hasError('pattern')">
                  Usa solo caracteres numéricos
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Account Name -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Nombre de la cuenta</mat-label>
                <input
                  matInput
                  formControlName="name"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <!-- Timezone -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Zona horaria</mat-label>
                <mat-select formControlName="timezone" required>
                  <mat-option *ngFor="let tz of TIMEZONES" [value]="tz">
                    {{ tz.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Currency -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Moneda</mat-label>
                <mat-select formControlName="currency" required>
                  <mat-option *ngFor="let cu of CURRENCIES" [value]="cu">
                    {{ cu.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Manager -->
            <div class="col-12 col-lg-4 mb-3">
              <app-generic-select
                label="Manager"
                [optionList]="managers"
                [selectedOption]="selectedManagers.bg"
                (selectedOptionChange)="managerChange('bg', $event)"
                [searchFilter]="true"
                [status]="managersReqStatus"
                [required]="true"
                errorMsg="Error al consultar usuarios"
                emptyMsg="No se encontraron usuarios"
              >
              </app-generic-select>
            </div>

            <!-- Vertical -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Vertical</mat-label>
                <input
                  matInput
                  formControlName="vertical"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>

            <!-- Business unit -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Unidad de negocio</mat-label>
                <input
                  matInput
                  formControlName="businessUnit"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>

            <!-- Objective -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Objetivo</mat-label>
                <input
                  matInput
                  formControlName="objective"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>

            <div class="col-12">
              <div
                class="button-container d-flex justify-content-end align-items-end"
              >
                <button
                  mat-flat-button
                  type="button"
                  class="mr-3"
                  (click)="cancelAccountAction('bg', formDirectiveBg)"
                >
                  Cancelar
                </button>
                <button mat-flat-button color="primary" type="submit">
                  {{ !!editableAccountBg ? "Guardar cambios" : "Agregar" }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <button
            id="add-bg-account-button"
            mat-flat-button
            color="primary"
            type="button"
            (click)="showFormBg = true"
            [hidden]="showFormBg"
          >
            <i class="fas fa-plus mr-2"></i>
            Agregar cuenta
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- TIKTOK -->
<div class="mt-3">
  <div class="section-container">
    <div class="title-container d-flex align-items-end">
      <span class="iconify mr-2" data-width="24" data-icon="logos:tiktok-icon">
      </span>
      <h3 class="mb-0">TikTok</h3>
    </div>

    <div class="row mb-4" *ngIf="accounts.tt.data.length > 0">
      <div class="col-12">
        <app-generic-table
          id="tt-accounts-table"
          [displayedColumns]="accountsTtTableColumns"
          [tableData]="accounts.tt"
          [tableDataChange]="accounts.tt.data"
          emptyDataMsg="Error al consultar las cuentas registradas"
          (selectedRowChange)="selectAccount('tt', $event)"
        >
        </app-generic-table>
      </div>
    </div>

    <ng-container *ngIf="!disableActions">
      <div id="tt-accounts-form-container" class="mt-3" [hidden]="!showFormTt">
        <h4>Datos de la cuenta</h4>
        <form
          [formGroup]="formTt"
          (ngSubmit)="handleAccount('tt', formDirectiveTt)"
          #formDirectiveTt="ngForm"
        >
          <div class="row">
            <!-- Credential Email -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Email de la credencial</mat-label>
                <mat-select formControlName="credentialEmail" required>
                  <mat-option
                    *ngFor="let ce of CREDENTIAL_AD_FB_TT"
                    [value]="ce"
                  >
                    {{ ce.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Account ID -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>ID de la cuenta</mat-label>
                <input
                  matInput
                  formControlName="accountID"
                  type="text"
                  pattern="^[0-9]*$"
                  autocomplete="off"
                  required
                />
                <mat-error *ngIf="formTt.get('accountID').hasError('pattern')">
                  Usa solo caracteres numéricos
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Account Name -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Nombre de la cuenta</mat-label>
                <input
                  matInput
                  formControlName="name"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <!-- Timezone -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Zona horaria</mat-label>
                <mat-select formControlName="timezone" required>
                  <mat-option *ngFor="let tz of TIMEZONES" [value]="tz">
                    {{ tz.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Currency -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Moneda</mat-label>
                <mat-select formControlName="currency" required>
                  <mat-option *ngFor="let cu of CURRENCIES" [value]="cu">
                    {{ cu.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Manager -->
            <div class="col-12 col-lg-4 mb-3">
              <app-generic-select
                label="Manager"
                [optionList]="managers"
                [selectedOption]="selectedManagers.tt"
                (selectedOptionChange)="managerChange('tt', $event)"
                [searchFilter]="true"
                [status]="managersReqStatus"
                [required]="true"
                errorMsg="Error al consultar usuarios"
                emptyMsg="No se encontraron usuarios"
              >
              </app-generic-select>
            </div>

            <!-- Vertical -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Vertical</mat-label>
                <input
                  matInput
                  formControlName="vertical"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>

            <!-- Business unit -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Unidad de negocio</mat-label>
                <input
                  matInput
                  formControlName="businessUnit"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>

            <!-- Objective -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Objetivo</mat-label>
                <input
                  matInput
                  formControlName="objective"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>

            <div class="col-12">
              <div
                class="button-container d-flex justify-content-end align-items-end"
              >
                <button
                  mat-flat-button
                  type="button"
                  class="mr-3"
                  (click)="cancelAccountAction('tt', formDirectiveTT)"
                >
                  Cancelar
                </button>
                <button mat-flat-button color="primary" type="submit">
                  {{ !!editableAccountTt ? "Guardar cambios" : "Agregar" }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <button
            id="add-tt-account-button"
            mat-flat-button
            color="primary"
            type="button"
            (click)="showFormTt = true"
            [hidden]="showFormTt"
          >
            <i class="fas fa-plus mr-2"></i>
            Agregar cuenta
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- linkedIn -->
<div class="mt-3">
  <div class="section-container">
    <div class="title-container d-flex align-items-end">
      <span
        class="iconify mr-2"
        data-width="24"
        data-icon="logos:linkedin-icon"
      >
      </span>
      <h3 class="mb-0">LinkedIn</h3>
    </div>

    <div class="row mb-4" *ngIf="accounts.lin.data.length > 0">
      <div class="col-12">
        <app-generic-table
          id="lin-accounts-table"
          [displayedColumns]="accountsLinTableColumns"
          [tableData]="accounts.lin"
          [tableDataChange]="accounts.lin.data"
          emptyDataMsg="Error al consultar las cuentas registradas"
          (selectedRowChange)="selectAccount('lin', $event)"
        >
        </app-generic-table>
      </div>
    </div>

    <ng-container *ngIf="!disableActions">
      <div
        id="lin-accounts-form-container"
        class="mt-3"
        [hidden]="!showFormLin"
      >
        <h4>Datos de la cuenta</h4>
        <form
          [formGroup]="formLin"
          (ngSubmit)="handleAccount('lin', formDirectiveLin)"
          #formDirectiveLin="ngForm"
        >
          <div class="row">
            <!-- Credential Email -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Email de la credencial</mat-label>
                <mat-select formControlName="credentialEmail" required>
                  <mat-option *ngFor="let ce of CREDENTIALS" [value]="ce">
                    {{ ce.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Account ID -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>ID de la cuenta</mat-label>
                <input
                  matInput
                  formControlName="accountID"
                  type="text"
                  pattern="^[0-9]*$"
                  autocomplete="off"
                  required
                />
                <mat-error *ngIf="formLin.get('accountID').hasError('pattern')">
                  Usa solo caracteres numéricos
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Account Name -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Nombre de la cuenta</mat-label>
                <input
                  matInput
                  formControlName="name"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <!-- Timezone -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Zona horaria</mat-label>
                <mat-select formControlName="timezone" required>
                  <mat-option *ngFor="let tz of TIMEZONES" [value]="tz">
                    {{ tz.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Currency -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Moneda</mat-label>
                <mat-select formControlName="currency" required>
                  <mat-option *ngFor="let cu of CURRENCIES" [value]="cu">
                    {{ cu.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Manager -->
            <div class="col-12 col-lg-4 mb-3">
              <app-generic-select
                label="Manager"
                [optionList]="managers"
                [selectedOption]="selectedManagers.lin"
                (selectedOptionChange)="managerChange('lin', $event)"
                [searchFilter]="true"
                [status]="managersReqStatus"
                [required]="true"
                errorMsg="Error al consultar usuarios"
                emptyMsg="No se encontraron usuarios"
              >
              </app-generic-select>
            </div>

            <!-- Vertical -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Vertical</mat-label>
                <input
                  matInput
                  formControlName="vertical"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>

            <!-- Business unit -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Unidad de negocio</mat-label>
                <input
                  matInput
                  formControlName="businessUnit"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>

            <!-- Objective -->
            <div class="col-12 col-lg-4 mb-3">
              <mat-form-field appearance="outline">
                <mat-label>Objetivo</mat-label>
                <input
                  matInput
                  formControlName="objective"
                  autocomplete="off"
                  required
                />
              </mat-form-field>
            </div>

            <div class="col-12">
              <div
                class="button-container d-flex justify-content-end align-items-end"
              >
                <button
                  mat-flat-button
                  type="button"
                  class="mr-3"
                  (click)="cancelAccountAction('lin', formDirectiveLin)"
                >
                  Cancelar
                </button>
                <button mat-flat-button color="primary" type="submit">
                  {{ !!editableAccountLin ? "Guardar cambios" : "Agregar" }}
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <button
            id="add-lin-account-button"
            mat-flat-button
            color="primary"
            type="button"
            (click)="showFormLin = true"
            [hidden]="showFormLin"
          >
            <i class="fas fa-plus mr-2"></i>
            Agregar cuenta
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
