<div class="container mb-3">
  <app-redirect-button redirectRoute="/dashboard/home"></app-redirect-button>
</div>

<div class="container">
  <div class="mt-4 mb-4 mb-lg-1">
    <h2 class="m-0">Clientes</h2>
  </div>

  <div class="row">
    <div class="col-12">
      <app-period-filter
        [disabled]="clientsReqStatus <= 1"
        (periodChange)="periodChange($event)"
      ></app-period-filter>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <app-generic-table
        [displayedColumns]="clientsTableColumns"
        [colSortedByDefault]="{ name: 'investment', sortDirection: 'desc' }"
        [tableData]="{ data: clients, reqStatus: clientsReqStatus }"
        [tableDataChange]="clients"
        emptyDataMsg="No se encontró ningún cliente."
        errorMsg="Error al consultar la lista de clientes."
        (selectedRowChange)="redirectToAccounts($event)"
      >
      </app-generic-table>
    </div>
  </div>
</div>
