h3 { 
    opacity: 0.6;
    display: inline-flex;
    align-items: center;    
    margin-right: 2rem;
}

.top {
    margin-top: 3rem;
}

.padding{
    margin-left: 1.5rem;
}

.mtop{
    margin-top: 1rem;
}
