<div class="row">
    <div class="col-12 col-sm-6">
        <app-generic-select [optionList]="categoryList" label="Selecciona una categoría"
            (selectedOptionChange)="getScripts($event)" [status]="categoriesReqStatus" [searchFilter]="true"
            errorMsg="Error al consultar categorías" emptyMsg="No se encontraron categorías">
        </app-generic-select>
    </div>
</div>

<div class="row mt-4 mt-sm-0">
    <div class="col-12">
        <app-generic-table [displayedColumns]="repositoryTableColumns" [tableData]="repository"
            [tableDataChange]="repository.data" errorMsg="Error al consultar scripts"
            emptyDataMsg="No se encontraron scripts">
        </app-generic-table>
    </div>
</div>