<div class="bg-white p-4">
    <section class="section-container">
    <h2 class="mt-3 mb-4">Editar subscripción</h2>
  
    <form [formGroup]="form">

        <div class="row">
            <div class="col-3 padding">
                <button
                mat-flat-button
                id="edit-button"
                type="submit"
                color="primary"
                class="fit-content"
                (click)="updateSub(1)"
                >
                Agregar 1 mes
              </button>
            </div>
            <div class="col-3 padding">
                <button
                mat-flat-button
                id="edit-button"
                type="submit"
                color="primary"
                class="fit-content"
                (click)="updateSub(3)"
                >
                Agregar 3 meses
              </button>
            </div>
            <div class="col-3 padding">
                    <button
                    mat-flat-button
                    id="edit-button"
                    type="submit"
                    color="primary"
                    class="fit-content"
                    (click)="updateSub(6)"
                    >
                    Agregar 6 meses
                  </button>
            </div>
            <div class="col-3 padding">
                    <button
                    mat-flat-button
                    id="edit-button"
                    type="submit"
                    color="primary"
                    class="fit-content"
                    (click)="updateSub(12)"
                    >
                    Agregar 1 año
                  </button>
            </div>

        </div>

        <br>

      <div class="row">
        <div class="col-6 padding">
        <!-- subscription -->
        <div class="form-item">
            <mat-form-field appearance="outline">
              <mat-label>Vencimiento de subscripción</mat-label>
              <mat-icon matPrefix><i class="fas fa-calendar"></i></mat-icon>
              <input
                matInput
                type="date"
                id="endDate"
                placeholder="yyyy-MM-dd"
                [min]="currentDate"
                formControlName="subscription"
                autocomplete="off"
                [disabled]="isDisable"
              />
            </mat-form-field>
          </div>
        </div>
        
      </div>
  
      <div class="col-12 text-right">
        <div
          class="button-container d-flex justify-content-end align-items-end"
        >
          <button
            mat-flat-button
            type="button"
            class="mr-3"
            (click)="closeForm()"
          >
            Cancelar
          </button>
          <button
          mat-flat-button
          id="edit-button"
          type="submit"
          color="primary"
          class="fit-content"
          [disabled]="
            !form.valid ||
            reqStatus === 1
          "
          (click)="formChange()"
        >
          Editar
        </button>
        </div>
      </div>

    </form>
  
</section>
</div>
