<div class="gradient-layout">
    <div class="container blurred-container">
      <div class="card">
        <div class="card-body">
          <div class="header">
            <h1>Aviso de privacidad</h1>
            <h3 class="mt-2">   
                Cuando te registras y adquieres una subscripcion en este sitio web, recopilamos tu información personal para permitir una experiencia personalizada. Podríamos recopilar información personal, como por ejemplo:
                <ul>
                    <li>Nombre</li>
                    <li>Fecha de nacimiento</li>
                    <li>Correo electrónico</li>
                    <li>Número de teléfono</li>
                </ul>
                Está información esta protegida y no es compartida con terceros u otros proveedores. Tu información solo es visible para administradores del sitio web.
            </h3>
          </div>
  
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  