<div class="container">
  <div
    class="layout-container d-flex flex-column flex-lg-row justify-content-center align-items-center"
  >
    <div>
      <h2>Bienvenido</h2>
      <p>
        Para poder acceder a algún módulo dentro de GymPro es necesario que un
        administrador te asigne permisos. Puedes solicitarlos y en el momento
        que te sean asignados podrás acceder a los módulos por medio del sidebar
        :)
      </p>
    </div>

    <img src="../../../assets/img/standby-access.png" />
  </div>
</div>
