i.client-icon {
  color: var(--alto);
  font-size: 2rem;
}

.account-icon-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.info-container * {
  text-align: center;
}

.chart-loader {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .bar-loader {
    margin-bottom: 2.6rem;
    width: 70%;
  }
}

.card-loader {
  .provider-icon {
    height: 4.5rem;
    width: 4.5rem;
  }
  .provider-name {
    width: 6rem;
  }
}

.overlap-container {
  height: auto;
  min-height: 3.7rem;
  position: relative;
}

.row-overlap {
  position: relative;

  .col-overlap-front {
    padding: 0;
    z-index: 1;
    @media screen and (min-width: 768px) {
      padding-left: 15px;
      padding-right: 15px;
      position: absolute;
    }
  }
  .col-overlap-back {
    padding: 0;
  }
}
