<div class="container mb-3">
  <app-redirect-button
    redirectRoute="/dashboard/audit/accounts"
    [queryParams]="{ clientId: clientID }"
  ></app-redirect-button>

  <div class="row mt-4 mb-2">
    <div class="col-12 d-flex align-items-end">
      <ng-container [ngSwitch]="account?.provider">
        <span
          *ngSwitchCase="'adwords'"
          class="iconify mr-3"
          data-width="32"
          data-icon="logos:google-ads"
        >
        </span>
        <span
          *ngSwitchCase="'facebook'"
          class="iconify mr-3"
          data-width="32"
          data-icon="logos:facebook"
        >
        </span>
      </ng-container>

      <h2 class="m-0">{{ account?.name }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-period-filter
        [disabled]="audits.reqStatus <= 1"
        (periodChange)="periodChange($event)"
      ></app-period-filter>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <mat-card>
        <app-chart-line
          name="audit-scores-throw-time"
          [data]="scores"
          [dataStatus]="scoresReqStatus"
          yAxisTitle="Calificación %"
          formatValue="%"
          [emptyDataMsg]="
            insufficientScores
              ? 'No hay suficientes datos para mostrar en el gráfico.'
              : 'No se encontraron datos.'
          "
          [errorMsg]="
            errorMsg
              ? errorMsg
              : 'Error al consultar los resultados de las auditorías.'
          "
        ></app-chart-line>
      </mat-card>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <app-generic-table
        [displayedColumns]="auditsTableColumns"
        [tableData]="audits"
        [tableDataChange]="audits.data"
        emptyDataMsg="No se encontraron auditorías previas"
        [errorMsg]="errorMsg ? errorMsg : 'Error al consultar las auditorías.'"
        (selectedRowChange)="redirectToResults($event)"
      >
      </app-generic-table>
    </div>
  </div>
</div>
