.score-container {
  height: 8rem;
  text-align: center;
  width: 100%;
}

.item-list-container {
  align-items: center;
  cursor: pointer;
  display: grid;
  justify-content: flex-start;
  grid-template-columns: 0.8rem calc(100% - 4.3rem) 2.5rem;
  column-gap: 0.5rem;
  width: 100%;

  .item-dot {
    background-color: var(--silver);
    border-radius: 50%;
    height: 0.8rem;
    width: 0.8rem;

    &.success {
      background-color: var(--cyan) !important;
    }

    &.danger {
      background-color: var(--danger) !important;
    }
  }

  .item-result {
    justify-self: flex-end;
  }
}

.scrollabe-container {
  max-height: 73vh;
  overflow-y: scroll;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
}

.audit-point-title:focus {
  outline: none;
}

.loader-container {
  .logo {
    height: 2rem;
    width: 2rem;
  }
  .account-name {
    height: 2rem;
  }
  .panel-loader {
    background-color: var(--white);
    padding: 0 24px;
    height: 48px;
    border-radius: 4px;
    display: flex;
    align-items: center;

    .point-title {
      width: 70%;
    }
  }
}
